*.csv
*.log
*.bak
__pycache__
note/*
tmp/*.csv
tmp/*.py

.env
.vscode/launch.json
mail.ini
estate.ipynb
init_aws_lightsail.sh
.vscode/settings.json
estate.ipynb
wsl2-docker 開発環境構築.md
config.ini
config_dev.ini
note/sqlalchemy.ipynb
